*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Header */
.header{
    display: block;
    height: 50px;
    background: #78b43d;
}
.sub_header{
    display: flex;
    flex: 1;
    width: 1004px;
    margin: 0 auto;
}
.logo img{
    width: 90px;
    height: 50px;
   
}
.danhmuc{
    font-size: 10px;
    padding-left: 10px;
}
.div_danhmuc{
    height: 50px;
}
.div_danhmuc i{
    padding-top: 3px;
    font-size: 25px;
    
}
.div_danhmuc a{
    margin-top: -12px;
    padding-right: 10px;
}
.header i {
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
}
#nav li{
    list-style-type: none;
    position: relative;

}
#nav .lineheight{
    display: flex;
    flex-direction: column; 
    line-height: 50px; 
    color: white; 
}

#nav li a{
    color: black;
    text-decoration: none; 
    display: inline-block;
}
/* hover vao content hien ra */
 #nav li:hover .subnav{
    display: block;
} 
/* hover vao thi doi mau chu  */
#nav .subnav li:hover a{
    color: white;
    background-color:#78b43d;
} 
/* an items */
#nav .subnav{
    display: none;
    left: -100px;
    /* min-width: 160px;  */
    position: absolute;
    background-color: #aad862;
} 
/* bong do cua box */
#nav .subnav a{
    width: 100%;
    line-height: 28px;
    font-size: 14px;
}
/* bac 3 */
#nav .dm_subnav li{
    list-style-type: none;
    position: relative;

}

#nav .dm_subnav{
    display: none;
    min-width: 160px;
    position: absolute;
    background-color: #78b43d;
    right: -160px;
}
#nav .dm_subnav li{ 
    /* width: 100%; */
    line-height: 30px;
    padding-left: 15px;
} 
/* hover vao doi mau chu  */
 #nav .dm_subnav li:hover{
    color: white;
}
#nav .subnav li:hover .dm_subnav  {
    display: block;
}
.menu{
    display: flex;
    flex: 1;
    width: 828px;
}
#nav2 li img{
    height: 20px;
    width: 20px;
    margin: 0;
}

.span_nav2{
    text-align: center;   
}
#nav2 {
    display: flex;
    flex: 1;
    width: 828px;
    font-size: 10px;
    position: absolute;
    margin: 0 auto;
}
#nav2 li{
    /* min-width: 160px; */
    /* position: relative;  */
    display: block;
    height: 40px;
    padding: 3px 3px 0 3px;
    text-align: center;
}

#nav2 li a{
    color: white;
    text-decoration: none;
    display: inline-block;
    padding-top: 10px;
    
}
/* #nav2 .subnav2{
    display: flex;
    flex-direction: column;
    background-color: #aad862;
    
} */
/* #nav2 .subnav2 {
    display: none;
} */
/* #nav2 li:hover .subnav2{
    display: block;       
}
#nav2 .subnav2 a {
    line-height: 10px;
    font-size: 14px;
    width: 100%;
}
#nav2 .subnav2 a:hover {
    color: white;
    background-color: #78b43d;
}  */
/* BOX SEARCH */
.icon_search{
    background: url(//cdn.24h.com.vn/images/sprites092018.png) no-repeat -50px -4887px;
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-top: 15px; 
    /* line-height: 50px; */
}
.container{
    display: flex;
    /* display: none; */
    width: 1004px; 
    flex-direction: row;   
    margin: 0 auto;
    margin-top: 7px;
}
h2:hover{
    color: #78b43d;
}
/* table left */
.sum_left{
    display: inline-block;
    flex: 1;
}
/* BOX CANVAS */
.canvas { 
    margin-top: 10px;
    margin-bottom: 10px;
    width: 699px;
    height: 150px;
}
.canvas img{
    width: 100%;
    height: 100%;
}
.table{
    width: 347px;
    display: inline-block;
}
.img_text{
    width: 100%;
    display: inline-block;
}

.img_text img{
    width: 100px;
    height: 100px;
    margin-right: 20px;
    float: left;
}
.right_on img{
    float: left;
    width: 100px;
    height: 75px;
}
.content{
    font-size: 12px;
    display: block;
    overflow: hidden;
}
.table h2{
    font-size: 14px;
}
.content span{
    font-size: 10px;
}
.pdleft5px{
    margin-top: 2px;
    padding-left: 5px;
}
.div_color{
    /* padding-left: 5px; */
    background-color:#eaf8d2;   
}
.div_color2{
    padding-left: 5px;
    background-color: #d5ecab
}
/* BOX AQUARE */
.dudoan{
    background: url(//cdn.24h.com.vn/images/sprites092018.png) 
    no-repeat -46px -253px;
}
.grn_amthucc a{
    font-weight: 600;
}

.table li{
    font-size: 12px;
    list-style: none;
    padding: 2px 0 0 20px;
    line-height: 17px;
}
/* BOX CAMERA */
.cmra{
    /* padding-right: 5px; */
    background: url(//cdn.24h.com.vn/images/sprites092018.png) 
    no-repeat -50px -359px;
}
/* BOX STAR */
.star{
    background: url(//cdn.24h.com.vn/images/sprites092018.png)
     no-repeat -51px -2323px; 
}
/* BOX ARROW */
.arrow{
    background: url(//cdn.24h.com.vn/images/sprites092018.png)
     no-repeat -50px -1774px;
}
.span_barrca{
    padding-left: 15px;
}

.table li:hover{
    color: #78b43d;
}
.b{   
    background-color: #d5ecab !important;
}
.color_dudoan{
    background-color: #d5ecab;
}
/* table right */
.sum_right{
    width: 300px;
    display: inline-block;   
}
/* BOX QUẢNG CÁO */
.quangcao{
    height: 598px;
    margin-bottom: 10px;
}
.quangcao img{
    width: 100%;
    height: 100%;
}
.right_on {
    display: block;
} 
.lined {
    border-bottom: 2px solid #78b43d;
    display: block;
    width: 100%;
    margin-top: -3px;
    margin-bottom: 5px;
}
.right_color{
    font-size: 18px;
    color: #78b43d;
}

.right_li {
    font-size: 13px;
    display: inline-block;
    margin-bottom: 10px;   
}
.right_li p{
    width: 168px;
    height: 65px;
    margin-left: 105px;
}
/* BOX WEATHER */
.boxweather {
    display: flex;
    width: 699px;
    height: 65px;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    font-size: 11px;
    box-sizing: border-box;
}
.boxweather a{
    text-decoration: none;
}
.boxweathercool{
    margin-right: 15px;
    width: 223px;
}
.orange{
    border-radius: 0;
    background-color:#e3b014 ;
    color: #fff;
    font-weight: 600;
    padding: 0 6px;
    line-height: 20px;
}
.boxweather .line{
    border-bottom: 1px solid #e3b014;
    display: block;
    width: 100%;
    margin-top: -4px;
    
}
.bor{
    border: 1px solid #e7e7e7;
    width: 221px;
    height: 44px;
}
.bor1 {
    width: 221;
    height: 22px;
    margin-top: 5px;
}
.bor2{
    height: 22px;
    margin-bottom: 5px;
}
.doji{
    color: #000;
    text-align: center;
    width: 45px;
    height: 22px;
    /* background-color: #e7e7e7; */
}
.mua{
    color: #000;
    margin-left: 20px;
    /* margin: 20px; */
    /* padding: 5px; */
}
.mua img{
    vertical-align: -4px;
    width: 16px;
    height: 16px;
    display: inline;
}
.bor strong{
    color: #5E6670;
}
.green{
    border-radius: 0;
    background-color:#08B089 ;
    color: #fff;
    font-weight: 600;
    padding: 0 6px;
    line-height: 20px;
}
.boxweather .line1{
    border-bottom: 1px solid #08B089;
    display: block;
    width: 100%;
    margin-top: -4px;
    
}
.blue{
    border-radius: 0;
    background-color:#2c90d0 ;
    color: #fff;
    font-weight: 600;
    padding: 0 6px;
    line-height: 20px;
}
.boxweather .line2{
    border-bottom: 1px solid #2c90d0;
    display: block;
    width: 100%;
    margin-top: -4px;
    
}
/* BOX SELECTED VIDEO */
.boxvideoselected{
    margin-top: 10px;
    width: 699px;
    height: 382px;
}
.boxvideoselected header {
    width: 699px;
    height: 36px;
    margin-bottom: 5px;
}

.boxvideoselected header a {
    text-decoration: none;
}

.videoo{
    background: url(//cdn.24h.com.vn/images/sprites092018.png) no-repeat -50px -3909px;
    font-size: 17px;
    color: #78b43d;
    border-bottom: 2px solid #78b43d;
    display: block;
    line-height: 1.75;
    /* margin-bottom: 5px;  */
    padding-left: 30px;
    /* padding-bottom: 3px; */
}
/* .boxvideoselected header .linevd{
    border-bottom: 2px solid #78b43d;
    display: block;
    width: 100%;   
} */
.divvd{
    display: inline-block;
    width: 410px;
    height: 317px;
}
.divvd a:hover{
    color: #90c95a;
}

.divimg {
    width: 400px;
    height: 225px;
    padding-right: 10px;
}
.divimg img{
    width: 100%;
    height: 100%;
}
.divvd header{
    width: 400px;
    height: 42px;
    margin: 10px 0;
    font-size: 18px;
}
.divvd header a{
    color: #000;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}
.divspan{
    width: 377px;
    height: 29px;
    font-size: 13px;
}
.div_flex{
    display: flex;
}
.divvd2{
    display: block;
    width: 285px;
    height: 336px;
    overflow-x: hidden;
    overflow-y: scroll;
    /* background-color: #ededed; */
}
::-webkit-scrollbar{
    width: 10px;
    background-color: #e9e9e9;
}
::-webkit-scrollbar-thumb{
   background-color: #ddd; 
   border-radius: 5px;
}

.divvd2 article{
    display: flex;
    font-size: 13px;
    margin-bottom: 10px;
    margin-right: 15px;
    width: 100%;
} 
.divvd2 img{
    width: 130px;
    height: 76px;
    padding-right: 10px;
}
.video2{
    color: #000;
}
.video2:hover{
    color: #90c95a;
}
/* BOX AM THUC */
.BOXAMTHUC{
    margin-top: 10px;
}
.boxamthuc{
    width: 699px;
    height: 204px;
}
.boxamthuc header {
    height: 25px; 
    font-size: 13px;
}
.h2_amthuc{
    background: url(https://cdn.24h.com.vn/images/2014/tab.png) 
    right 0 no-repeat;
    float: left;
    height: 25px;
    text-align: center;
    /* padding-bottom: 5px; */

    /* margin-top: 5px; */

}
.h2_amthuc a{
    text-decoration: none;
    font-size: 14px;
    color: white;
    text-align: center;
}
/* .a_grn_tbn{
    padding: 0;
} */
.div_loairau{
    width: 699px;
    padding-left: 130px;
}
.sub_boxamthuc{
    width: 699px;
}
.sub_boxamthuc span img{
    width: 120px;
    height: 90px;
}
.sub_boxamthuc header a{   
    font-size: 14px;
    color: #000;
    text-decoration: none;
    font-weight: 600;
}
.sub_boxamthuc .span_canxi{
    font-size: 13px;
}
.sub_boxamthuc .span_search{
    padding-left: 15px;
    font-size: 11px;
}
.sub_boxamthuc a:hover{
    color: #90c95a;
}
.sub_boxamthuc img{
    float: left;
}
.dnamthuc{
    width: 443px;
    height: 92px;
    margin: 5px 0 0 130px;
}
.dnamthuc a{
    display: block;
    text-decoration: none;
    color: #000;
    font-size: 12px;
    padding: 2px 0 1px 15px;
}
.dnamthuc a:hover{
    color: #78b43d;
}

/* BOX CHUNG KHOAN */
.boxck{
    display: block;
    font-size: 12px;
    width: 300px;
    height: 134px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.boxck a{
    text-decoration: none;
}

.boxck header {
    /* border: 1px solid #EDEDED; */
    display: block;
    width: 100%;
    margin-top: -4px;
    
}
.boxck header a{
    font-weight: 600;
    font-size: 18px;
    background: url(//cdn.24h.com.vn/images/icon_topck.png) no-repeat;
    border-bottom: 2px solid;
    padding-left: 35px;
    display: block;
    margin-bottom: 5px; 
    color: #78b43d;
}
.boxck header a i{
    color: #78b43d;
    font-size: 20px;
}

.boxck .list{
    display: block;
    background-color: #fafafa;
    border: 1px solid #ededed;
    border-radius: 5px;
    margin-bottom: 5px;    
}
.boxck .list .ckvn a{
    display: flex;
    justify-content: space-between;
    padding: 5px 8px;
}

.bld {
    font-weight: 600;
    font-size: 13px;
    color: #333;
}
.boxck .list .ckvn .clor{
    width: 17%;
    color: #333;
    font-size: 13px;
}
.iconupck{
    display: inline-block;
    width: 7px;
    height: 7px;
    background: url(//cdn.24h.com.vn/images/2014/ttcb/btn_up2019.png) no-repeat;
    background-position: center;
    margin-top: 3px;
}
.percent{
    width: 20%;
    font-size: 13px;
    color: #90c95a;
}
.listBottom{
    display: flex;
    justify-content: space-between;
}
.cktg{
    padding: 5px;
    border-radius: 5px;
    color: #333;
    border: 1px solid #ededed;
    background-color: #fafafa;
}
.cktg a{
    color: #000;
}

/* PHONG CACH DAN ONG */
.right_between_nav{
   font-size: 12px;
   font-family: Arial, Helvetica, sans-serif;
    display: flex;
   flex-direction: column; 
   border: 1px solid #ebebeb; 
   border-radius: 8px 8px 5px 5px; 
   margin-bottom: 10px;

}
.right_between_nav a{
    text-decoration: none;
    margin: 0 0 10px;
}
.tit_24h{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px 0 0 ; 
    height: 20px;
    color: white;
}
.tit_24h img{ 
    width: 198px;
    height: 20px;
}
.ar_24h{
    position: relative;
    /* border: 1px solid #dde4ec; */
    padding: 10px 15px 0;
    margin-top: 5px;
    /* border-radius: 4px; */
}
.ar_24h img{
    width: 268px;
    height: 180px;
    text-align: center;
}
.ar_24h h3{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 30px 15px 10px;
    font-size: 14px;
    /* line-height: 20px; */
    color: white;
    display: flex;
    justify-content: center;
    /* background-image: linear-gradient(0deg,rgba(0,0,0,0.9019607843137255) 0%,rgba(0,0,0,0) 99%); */
}
.grey{
    margin: 5px;
}     
.grey i{
    color: #5E6670;
    font-size: 6px;
}
.grey a{
    font-size: 12px;
    line-height: 17px;
    font-weight: 400;
    color: #000;
}
.grey h3{
    padding-left: 10px;
    
}




/* right below */
/* .boxamthuc header>h2>a{
    margin-bottom: 5px;
} */
.right_ulbelow li{
    display: flex;
    font-size: 12px;
    list-style:  none;
} 
.right_ulbelow img{
    width: 100px;
    height: 75px;
    padding-right: 5px;
}
.right_below a{
    padding-right: 5px ;
    text-decoration: none;
    color: #000;
}
.right_below a:hover{
    color: #78b43d;
}
.right_blow_nav{
    display:block;
    width: 300px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.img_phaidep{
    content: "";
    margin: 0 8px 0 0;
    width: 21px;
    height: 23px;
    background: url(https://cdn.24h.com.vn/images/sprites30122022.png)
     -8px -1782px no-repeat;
}
.header_right_below{
    height: 39px;
    text-align: center;
    border-radius: 8px 8px 0 0 ;
    padding: 10px 5px;
    background-color: #d2577e;
}
.header_right_below a{
    text-decoration: none;
    color: white;
    padding-left: 30px;
    font-size: 15px;
    font-weight: 600;

    font-family: Arial, Helvetica, sans-serif;
}
.right_below{
    border-radius: 5px 5px  8px 8px;
    display: block;
    padding: 10px ;
    border: 1px solid #ebebeb; 

}
.right_below .ar{
    margin-bottom: 10px;
    margin-top: 10px;
}
.right_below .right_ulbelow{
    width: 100%;
    height: 100%;
    border: 0;
    object-fit: cover;
}
.right_ulbelow img{
    border-radius: 3px 3px 3px 3px;
    overflow-clip-margin: content-box;

}

.right_below i{
    color: #f93584;
    font-size: 6px;
    padding-right: 5px;
}
.footer_below{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer_below i{
    width: 28px;
    height: 28px;
    border-radius: 14px;
    background-color: #fff;
    border: 1px solid #e1e1e1;
    cursor: pointer;
    font-size: 15px;
    color: #5E6670;
    padding: 7px;
    margin-left: 7px;
}
.footer_below i:hover {
    color: white;
    background-color: #f93584;
}
/* .div_tablee{
    width: 1;
    background-color: #08B089;
} */
.grn_tbn a{
    
    /* width: 52px; */
    height: 14px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: white;
    padding: 0 5px 0 5px;
}
.grn_tbn a:hover{
    color: #000;
}
.grn_tbn{
    
    float: left;
    /* width: 62px; */
    height: 25px;
    background: url(https://cdn.24h.com.vn/images/2014/tab.png) 
    right 0 no-repeat;
    margin-right: 1px; 
}
.gry_tbn{
    float: left;
    height: 18px;
    font-size: 11px;
    padding: 2px 6px;
    background: url(//cdn.24h.com.vn/images/2014/tab.png) 
    right -29px no-repeat;
    margin: 1px;
}
.gry_tbn a{
    text-decoration: none;
    color: #000;
    font-size: 11px;
    /* padding: 2px 6px 0 0 ; */
    font-family: Arial, Helvetica, sans-serif;
    
}
.gry_tbn a:hover{
    color: #78b43d;
}



/* Box THONG TIN DOANH NGHIEP */
.boxinformation{
    display: block;
    width: 1004px;
    height: 238px;
    margin: 0 auto;
   
}
.sub_information img{
    float: left;
    padding-right: 5px;
}
.header_inf{
    color: #ef7930;
    font-size: 17px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}
.img_inf{
    padding-left: 25px;
    margin-right: 25px;
    background: url(//cdn.24h.com.vn/images/sprites092018.png) 
    no-repeat -50px -3797px;
}
.sub_information{
    margin-top: 5px;
    background-color: #fff1d9;
    border-radius: 0;
    border-top: 2px solid #ef7930;
}
.ttdn{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.sub_ttdn{
    display: flex;
    width: 220px;
    height: 100px;
    flex-direction: column;
    justify-content: space-around;
    /* margin-top: 10px; */
    /* justify-content: space-around; */
    /* padding-left: 10px; */
}
.ttdn_a{
    width: 220px;
    height: 100px;
    text-decoration: none;
    color: #000;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}
.ttdn_img {
    width: 110px;
    height: 83px;
}
.ttdn_span{
    width: 100%;
    height: 64px;
    font-size: 13px;
    padding: 0 0 0 1px;
}
.sub-ttdn{
    margin-top: 0;
    margin-bottom: 10px;
}

/* BOX SHARE_LIKE */
.share_like{
    width: 1004px;
    height: 50px;
    margin: 0 auto;
    margin-top: 10px;
}
.btn-share-24h{
    display: flex;
    float: right;
}


.cv19{ 
    height: 40px;
    color: white;
    font-weight: 600;
    padding:  0 7px 0 ;
    font-size: 14px;
    border-radius: 999px;
    background: #78B43D;
}
.tittle_img::after{
    content: "CHIA SẺ";
}
.home{
    margin-left: 5px;
}
.sub_home{
    width: 40px;
    height: 40px;
    display: inline-block;
    background: url(//cdn.24h.com.vn/images/sprites092018.png) no-repeat -50px -5571px;
}
.btn_top{
    margin-left: 5px;
}
.sub_btn_top{
    background: url(//cdn.24h.com.vn/images/sprites092018.png) no-repeat -50px -5151px;
    width: 40px;
    height: 40px;
    display: inline-block;
} 





/* Footer */
.Footer{
    display: block;
    padding-top: 10px;
}
.on_footer{  
    width: 100%;
    display: flex;
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: #ebebeb;
    justify-content: center;
}
.content_on_footer{
    width: 1004px;
    /* padding-right: 10px; */
    
}
.ul_on_footer{
    display: flex;
    justify-content: space-between;
}

.between_footer {
    background-color: #78b43d;
}
.between_dv li:hover{
    color: black;
}
.between_footer a{
    text-decoration: none;
    color: #fff
}
.between_footer a:hover{
    color: #000;
}
.footer_div {
    margin: 0 auto;
    width: 1004px;
    display: flex;
    justify-content: center;
}
.between_footer li{
    list-style-type: none;
    padding: 5px;
    color: white;
}


.below_footer {
    width: 1004px;
    margin: 0 auto;
    text-align: center;
}

.text_footer {
    width: 1004px;
    text-align: center;
    margin: 0 auto;
}


.img_below_footer {
    float: none;
    height: 24px;
}
.content_on_footer li{
    list-style: none;
}
.ul_on_footer ul li:hover{
    color: #78b43d;
}
.ul_on_footer ul b:hover{
    color: #78b43d;
}





 
