*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* HEADER */
#header{
    width: 100%;
    height: 52px;
}
.subheader{
    display: flex;
    width: 1025px;
    height: 52px;
    margin: 0 auto;
    padding-left: 12px;
}
.h1_header{
    width: 100px;
    height: 52px;
}
.span_logo{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 7px;
    display: block;
    color: #444444;
    text-indent: 0;
    white-space: nowrap;
    padding-top: 10px;
}
.h1_header img{
    width: 94px;
    height: 29px;
}
.nav_menu{
    display: flex;
    width: 835px;
    height: 52px;
    line-height: 52px;
    padding-left: 150px;
    font-weight: 600;
}
.ul_menu{
    display: flex;
    list-style: none;
    justify-content: space-around;
}
.ul_menu li{
    padding-right: 20px;
}
.threepoint{
    padding-top: 5px;
}
.fa-solid{
    font-size: 20px;
}
.toolbox{
    
    display: flex;
}
.sub_toolbox{
    display: flex;
    line-height: 52px;
    list-style: none;
}
.fa-thin{
    font-size: 20px;
}
.sub_toolbox img{
    width: 30px;
    border-radius: 100%;

}
.li_toolbox{
    /* padding-top: 10px; */
    margin: 0 10px 0 10px;
} 
.li_toolbox_img{
    padding-top: 10px;
    margin: 0 10px 0 10px;
}

/* CONTAINER */
.container{
    display: block;
    width: 1100px;
    margin: 0 auto;
    /* background-color: pink; */
}
/* WIDGET-TICKER */
.widget-ticker{
    display: flex;
    width: 1000px;
    height: 30px;
    margin: 10px 0 20px 0;
    line-height: 30px;
    text-align: center;
    margin: auto;
    /* background-color: pink; */
}
.hashtag-trending{
    width: 70%;
    display: flex;
    list-style: none;
    padding: 0  25px 0 25px;
}
.n{
    background: url(//static-znews.zingcdn.me/images/stat.svg) no-repeat;
}
.hashtag-trending a{
    text-decoration: none;
    color: #333;
}
.li_widget{
    margin-left: 10px;
    border-radius: 100px;
    background-color: #f0f0f0;
    padding: 0 8px 0 12px;
    height: 24px;
    line-height: 30px;
    font-size: 13px;
}
.li_widget:hover{
    background: linear-gradient(-45deg,  #23a6d5, #23d5ab);
}
.div_widgett{
    width: 30%;
    height: 30px;
    line-height: 30px;
    list-style: none;
}
.li_widgett{
    float: right;
    display: flex;
    font-size: 15px;
    height: 30px; 
}
.span_widgett{
    display: flex;
    font-size: 14px;
    height: 30px;
    align-items: center;
    /* margin-bottom: 5px; */
    padding: 0 5px 0 5px;
}
.li_widgett img{
    width: 30px;
    height: 30px;
}

.section-content{
    display: flex;
    width: 1000px;
    height: 530px;
    margin: auto;
}
/*newstrending  */
.newstrending{
    width: 30%;
    height: 530px;
}
.sub_newstrending{
    height: 97px;
    display: flex;
    padding-bottom: 15px;
    border-bottom: 1px solid #dedede;
}
.sub_newstrending img{
    width: 120px;
    height: 80px;
}
.sub_newstrending a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 14px;
}
.sub_newstrending header{
    width: 100%;
    height: 56px;
    margin-left: 10px;
}
.b{
    margin: 15px 0 15px 0;
}
.c{
    height: 80px;
    padding-bottom: 0;
    border-bottom: none;
}
/* newsfeatured */
.newsfeatured{
    display: flex;
    float: right;
    margin-left: 20px;
    width: 70%;
    height: 530px;
}
.article_item{
    display: block;
    width: 70%;
    margin-left: 2px;
    /* float: right; */
}
.sub_item{
    width: 445px;
}
.article_item header{
    width: 100%;
    height: 230px;
}
.article_item img{
    width: 445px;
    height: 297px;
}
.lomattrang{
    padding-top: 12px;
}
.article_item a{
    text-decoration: none;
    color: black;
    font-size: 32px;
    font-weight: 600;
    width: 445px;
    font-family: Arial, Helvetica, sans-serif;
}
.daily{
    padding-top: 15px;
    font-size: 14px;
    color: #444;
}
.yout{
    font-size: 10px;
    padding: 5px;
}
.nguoidung{
   font-size: 14px; 
}

.article-item-right{
    display: block;
    margin-left: 20px;
}
.article-item-right img{
   width: 234px;
   height: 156px;
}
.article-item-p {
    width: 234px;
    height: 44px;
    margin-bottom: 25px;
}
.article-item-right a{
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 600;
}

/* PAGE-HOME */
.page-home{
    display: flex;
    /* justify-content: space-evenly; */
    margin-top: 10px;
    margin-bottom: 20px;
    height: 571px;
    background-color:#ffde76;
}
.subpage-home{
    display: block;
    margin: 20px 25px 0 25px;
    width: 1050px;
    height: 483px;
}
.sub-home{
    width: 1000px;
    height: 30px;
    display: flex;
}
.sub-home{
    font-size: 2em;
    font-weight: 600;
    color: #000;
    position: relative;
    text-transform: uppercase;
    padding: 0 15px 0 20px;
    /* margin: 6px 0 4px 0; */
    font-size: 24px;
}
.sub-h3home{
    position: absolute;
    width: 5px;
    height: 20px;
    left: 6px;
    top: 2px;
    bottom: 2px;
    transform: skew(-20deg);
    background-color: #dd3333;
    margin-top: 3px;
}
.ul-home{
    display: flex;
    list-style: none;
}
.ul-home li{
    padding: 0 20px 0 20px;
}
.ul-home a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 14px;
}
    /* DIV ITEM */
.sub-home2{
    height: 453px;
    margin-top: 15px;
    display: flex;
}
.div-item{
    margin-left: 10px;
    width: 500px;
    height: 453px;
}
.div-item img{
    width: 500px;
    height: 326px;
}
.p-item{
    font-size: 0.8em;
    color: #6d6d6d;
    font-family: 'znews-icon';
    background: inherit;
    top: 0;
    font-size: 24px;
    font-weight: 600;
    margin-top: 16px;
}
.p-item a{
    text-decoration: none;
    color: #000;
}
.p-item1{
    font-size: 14px;
    margin-top: 10px;
}
/* DIV-ITEM 2 */
.div-item2{
    margin-left: 20px;
    display: inline-block;
    height: 453px;
}
.sub-item2{
    width: 235px;
    height: 230px;
    display: inline-block;
    margin: 0 0 15px 20px;
}
.sub-item2 img{
    height: 156px;
    width: 235px;
}
.p-item2{
    width: 235px;
    color: #6d6d6d;
    font-weight: 600;
    margin-top: 16px;
}
.item2{
    font-size: 13px;
}
.p-item2 a{
    text-decoration: none;
    color: #000;
    font-size: 16px;
}
/* section-publish */
.publish{
    width: 1000px;
    height: 284px;
    margin: 0 auto;
    margin-bottom: 30px;
}
#header-publish{
    position: relative;
    height: 40px;
    width: 1000px;
    border-bottom: 1px solid #dedede;
}
.p-publish{
    height: 10px;
    margin-left: 10px;
}
.glide-track{
    width: 1000px;
    display: flex;
    margin-top: 20px;
    list-style: none;
}
.glide-slides{
    width: 1000px;
    display: flex;
    padding-right: -10px;
    justify-content: space-between;
}
.li_slides{
    width: 184px;
    margin-right: 10px;
    list-style: none;
}

.li_slides img{
    width: 182px;
    height: 121px;
}
/* SECTION-LIST */
.article-slide{
    border: 1px solid #dddddd;
    border-radius: 4px;
    overflow: hidden;
    font-size: 0.9rem;
    height: 225px;
    font-size: 14px;
    font-weight: 600;
}
.slide-item{
    padding-left: 5px;
}
.section-list{
    display: flex;
    margin-bottom: 100px;
    margin: 0 auto;
    width: 1000px;
    /* background-color: pink; */
}
.div-list{
    display: block;
    width: 70%;
    margin-right: 20px;
    /* background-color: #23d5ab; */
}
.article-item{
    display: flex;
    margin-bottom: 15px;
    padding-bottom: 10px;
}
.linelist{
    border-bottom: 1px solid #dedede;
    
}
.article-item img{
    width: 224px;
    height: 149px;
}
.article-item a{
    text-decoration: none;
    color: #000;
    font-size: 19px;
    font-weight: 600;
    padding-left: 10px;
}
.p-list{
    font-size: 14px;
    color:  #888;
    padding: 5px 0 0 10px;
}
/* div-sidebar */
.div-sidebar{
    width: 300px;
    height: 620px;
    margin-bottom: 20px;
    background-color: transparent !important;
    border: 1px solid #f0f0f0;
}
.mostread24h{
    /* background-color: #ffde76; */
    width: 249px;
    height: 568px;
    margin: auto;
    margin: 20px 0 20px 25px;
    margin-bottom: 50px;
    
}
.header-mostread24h{
    height: 21px;
    margin-bottom: 15px;
    font-size: 20px;
}
.articlelist{
    display: flex;
    margin-bottom: 15px;
}
.articlelist a{
    text-decoration: none;
    color: #000;
    font-size: 14,px;
    font-weight: 600;
}
.plist{
    font-size: 10px;
    color: #5c5c5c;
    padding-right: 10px;
}
.img-divlist{
    width: 72px;
    height: 72px;
    border: 1px solid #ebebeb; 
    border-radius: 5px 5px 5px 5px; 
}
/* PODCAST-WRAPPER */

.podcast-wrapper{
    /* padding-top: 30px; */
    width: 300px;
    height: 620px;
    background: linear-gradient(180deg, rgba(47,47,63,0.5) 0%, #2f2f3f 100%);
    border: 1px solid #f0f0f0;
}
.podcast{
    width: 249px;
    height: 568px;
    margin: auto;
    margin: 20px 0 20px 25px;  
}
.header-podcast{
    width: 249px;
    height: 30px;   
    text-align: center;
    padding-bottom: 10px;
}
.img-podcast{
    width: 120px;
    height: 28px;
}
.content-podcast{
    width: 249px;
    height: 499px;
}
.img166{
    width: 249px;
    height: 166px;
    margin-top: 5px;
}
.header166{
    padding: 10px 0 10px 0;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #dedede;
}
.header166 a{
   text-decoration: none;
   color: #fff;
   font-size: 16px;
   font-weight: 600;
}
.item-podcast{
    width: 249px;
    height: 83px;
}
.article-item-podcast{
    display: flex;
    padding: 20px 0 10px 0;
}
.podcast1{
    padding-bottom: 10px;
    border-bottom: 1px solid #dedede;
}
.article-item-podcast img{
    margin-right: 10px;
    width: 72px;
    height: 49px;
    border-radius: 5px 5px 5px 5px; 
}
.article-item-podcast a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 13px;
}
/* CANVAS */
.div_canvas{
    margin-top: 20px;
    width: 300px;
    height: 600px;
}
.div_canvas img{
    width: 300px;
    height: 600px;
}

/* LIFESTYLE */
.lifestyle{
    width: 1100px;
    height: 584px;
    margin-bottom: 40px;
    margin-top: 40px;
}
.section-lifestyle{
    width: 1000px;
    height: 584px;
    margin: auto;
}
.header-lifestyle{
    width: 1000px;
    height: 40px;
    position: relative;
    font-size: 20px;
    padding-left: 20px;
    border-bottom: 1px solid #dedede;
}
.p-lifestyle{
    content: '';
    /* margin-left: 5px; */
    padding-right: 5px;
    position: absolute;
    width: 5px;
    left: 5px;
    top: 5px;
    bottom: 18px;
    transform: skew(-20deg);
    background-color: #dd3333;
}
.lifestyle-layout{
    display: flex;
}
.div-lifestyle{
    display: flex;
    width: 1000px;
    height: 483px;
    margin-top: 20px;
}
.ar-lifestyle{
    width: 456px;
    height: 397px;
    font-size: 14px;
    color: #444;
}
.ar-lifestyle img{
    width: 456px;
    height: 304px;
    padding-bottom: 15px;
}
.ar-lifestyle h3{
    font-size: 24px;
    padding-bottom: 8px;
    color: #000;
}
.ar_sum{
    display: inline-block;
    font-size: 16px;
}
.sub-ar-lifestyle{
    width: 221px;
    height: 210px;
    padding: 0 20px 10px 15px;
    font-size: 16px;
}
.sub-ar-lifestyle img{
    width: 221px;
    height: 147px;
}
.sub-ar-lifestyle h3{
    width: 221px;
    font-size: 16px;
}
.right-lifestyle-layout{
    width: 286px;
    height: 483px;
    margin-left: 40px;
}
.ar-right-lifestyle {
    display: flex;
    font-size: 14px;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.ar-right-lifestyle img{
    width: 72px;
    height: 72px;
    border-radius: 5px 5px 5px 5px; 
}
.line-none{
    border-bottom: 1px solid #dedede;
}

/* CANVAS */
.div_canvas_between {
    width: 1100px;
    margin-bottom: 40px;
}
.sub_canvas_between{
    width: 1000px;
    margin: auto;
    text-align: center;
}


/* DIV-CONTENT-ENTERTAIMENT */
.div-content-entertaiment{
    width: 1100px;
    height: 2202px;
    margin-top: 20px;
}
.section-entertaiment{
    width: 1000px;
    height: 2170px;
    margin: auto;
    border-top: 2px solid #333333;
}
.section-content-entertaiment{
    width: 1000px;
    height: 2170px;
}

.div-sum{
    display: flex;
     justify-content: space-between; 
}
.div-content-entertaiment{
    width: 235px;
    height: 502px;
    padding-top: 20px;
}
.headerentertaiment{
    width: 235px;
    height: 20px;
    font-size: 17px;
    margin-bottom: 20px;
    margin-left: 5px;
}
.p-entertaiment{
    font-size: 20px;
    content: '';
    position: absolute;
    width: 5px;
    top: 1px;
    bottom: 3px;
    left: 0;
    transform: skew(-20deg);
    background-color: #dd3333;
}
.item-entertaiment{
    border-bottom: 1px solid #dedede;
}
.imgentertaiment{
    width: 235px;
    height: 156px;
    margin-bottom: 5px;
}
.h3entertaiment{
    margin-bottom: 30px;
}
.item-entertaiment a{
    text-decoration: none;
    color: #000;
    font-size: 17px;
    font-weight: 600;
}
/* item-entertaiment2 */
.item-entertaiment2{
    margin-top: 20px;
    display: flex;
}
.item-entertaiment2 img{
    width: 105px;
    height: 70px;
}
.p-item-entertaiment2{
    font-size: 13px;
    padding-left: 10px;
    font-weight: 600;
}
.lineenteraiment{
    padding-bottom: 15px;
    border-bottom: 1px solid #dedede;
}
/* MAGAZINE */
.magazine{
    height: 565px;
    background-color:#eee;
    margin-bottom: 30px;
}
.div_magazine{
    width: 1120px;
    height: 495px;
    margin: auto;
    padding-top: 35px;
}
.header_magazine{
    width: 1110px;
    height: 20px ;
    margin: 0 0 20px 10px;
    position: relative;
}
.h3_magazine{
    padding-left: 20px;
    font-size: 20px;
}
.p_magazine{
    /* content: ''; */
    position: absolute;
    width: 5px;
    left: 5px;
    top: 3px;
    bottom: 2px;
    margin-right: 30px;
    transform: skew(-20deg);
    background-color: #dd3333;
}

.content_magazine{
    width: 1120px;
    height: 455px;
}
.ul_content_magazine{
    display: flex;
    justify-content: space-around;
    width: 1120px;
    height: 455px;
    padding-top: 20px;
    list-style: none;
}
.li_content_magazine:hover{
    -webkit-box-shadow: 0 5px 5px #000;
    box-shadow: 0 5px 5px #000;
    border-radius: 4px;
}
.article_item_magazine{
    width: 260px;
    height: 435px;
    filter: brightness(80%);

}
.div_album_thumb{
    position: relative;
}
.div_album_thumb img{
    text-align: center;
    width: 260px;
    height: 435px;
    border-radius: 4px;
}
.h3_thumb{
    background: #ffde76;
    /* margin: 0 auto 15px; */
    margin-left: 80px;
    margin-bottom:80px ;
}
.thumb{
    position: absolute;
    /* top: 0; */
    left: 50%;
    transform: translateX(-50%);
    background: #ffde76;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #000;
    padding: 0 15px;
    height: 25px;
    line-height: 25px;
    letter-spacing: 0.5px;
    z-index: 2;
    white-space: nowrap;
}
.thumbb{
    position: absolute;
    bottom: 0;
    margin-bottom: 180px;
    margin-left: 110px;
    width: 40px;
    height: 5px;
    background-color: #ffde76;
}
.div_album_thumb h3{
    position: absolute;
    bottom: 0;
    padding: 0 15px 100px;
    font-size: 20px;
    color: white;
    text-align: center;
}
.div_type_icon{
    position: relative;

}
.div_type_icon span{
    position: absolute;
    bottom: 25px;
    left: 50%;
    margin-left: -24px;
    width: 48px;
    height: 48px;
    background: #000;
    border-radius: 50%;
}

.article_item_magazine:hover span {
   background-color:#ffde76;
}
.article_item_magazine:hover i {
    color:#000;
}
.article_item_magazine:hover h3 {
    color:#ffde76;
}

.div_type_icon i{
    position: absolute;
    bottom: 0;
    padding: 0 0 14px 12px;
    /* align-items: center; */
    font-size: 20px;
    color: #ffde76;

}





/* VIDEO */
.video{
    width: 1100px;
    height: 503px;
    margin: auto;
}
.sub-video{
    margin:auto;
    width: 1100px;

}
.section-video{
    margin: auto;
    width: 1000px;
    height: 443px;

}
.header-video{
    height: 30px;
    position: relative;
    font-size: 20px;
    margin-bottom: 10px;
}
.h3-video{
    padding-left: 20px;
}
.p-video{
    /* content: ''; */
    position: absolute;
    width: 5px;
    left: 5px;
    top: 5px;
    bottom: 8px;
    margin-right: 30px;
    transform: skew(-20deg);
    background-color: #dd3333;
}
.content-video{
    display: flex;
    width: 1000px;
    height: 393px;
    background-color: #eee;
}
.div-img-video{
    width: 700px;
    height: 393px;
}
.div-img-video img{
    width: 700px;
    height: 393px;
}
.autoshow{
    margin-left: 20px;
    background-color: #eee;
    width: 300px;
    height: 393px;
    font-size: 13px;
    overflow-y: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 5px;
    background-color: #dedede;
}
::-webkit-scrollbar-thumb{
   background-color: black; 
   border-radius: 5px;
}

.item-autoshow{
    display: flex;
    width: 280px;
    height: 90px;
    margin-bottom: 10px;
}
.item-autoshow img{
    width: 120px;
    height: 80px;
}
.item-autoshow h3{
    padding-left: 10px;
}

/* FOOTER */
.footer{
    margin-top: 30px;
    height: 171px;
    background-color: #f7f7f7;
}
.sub-footer{
    display: flex;
    justify-content: space-between;
    width: 1100px;
    height: 171px;
    margin: auto;
    padding: 20px 0 20px;
}
.left-side-info{
    width: 487px;
    height: 131px;
}
.div-logo{
    width: 100px;
    height: 29px;
}
.imglogo{
    width: 94px;
    height: 29px;
}
.web-info{
    width: 487px;
    height: 102px;
    font-size: 12px;
    color: #888;
    line-height: 1.7;
}
.copyright-info{
    padding-top: 70px;
    font-size: 12px;
    color: #888;
    line-height: 1.7;
}
.p-copyright{
    font-weight: 600;
}
